body {
	background-color: #CEECF5;
}

audio { display:none;}

.principalButtons, .secondaryButtons{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.principalButtons{
	top: 10%;
}

.secondaryButtons{
	top: 45%;
	left: 5%;
}

.play{
	background: url(../Img/play.png);
}

.pause{
	background: url(../Img/pause.png);
}

.next{
	background: url(../Img/next.png);
}

.prev{
	background: url(../Img/previous.png);
}

.mute{
	background: url(../Img/maxVolume.png);	
}

.maxVolume{
	background: url(../Img/mute.png);
}

.volumeDown{
	background: url(../Img/volumeDown.png);
}

.volumeUp{
	background: url(../Img/volumeUp.png);
}

.songButton, .volumeButton{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	outline: none;
	border: none;
}

.songButton{
	height: 200px;
	width: 200px;
	margin: 1%;	
}

.volumeButton{

	height: 150px;
	width: 150px;
	margin: 1%;
}