body {
	background-color: #81BEF7;
}

audio {display:none;}

.buttons{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.principalButtons, .secondaryButtons{
	display: flex;
	align-items: center;
	justify-content: center;
}

.principalButtons{
	top: 20%;
}

.secondaryButtons{
	top: 55%;
}

.information{
	font-size: 55px;
	text-align: center;
	font-family: sans-serif;
	color: black;
}

.play{
	background: url(../Img/play.png);
}

.pause{
	background: url(../Img/pause.png);
}

.next{
	background: url(../Img/next.png);
}

.prev{
	background: url(../Img/previous.png);
}

.mute{
	background: url(../Img/maxVolume.png);	
}

.maxVolume{
	background: url(../Img/mute.png);
}

.volumeDown{
	background: url(../Img/volumeDown.png);
}

.volumeUp{
	background: url(../Img/volumeUp.png);
}

.songButton, .volumeButton{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	outline: none;
	border: none;
	margin: 1%;
}

.songButton{
	height: 200px;
	width: 200px;
}

.volumeButton{
	height: 150px;
	width: 150px;
}